<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nvtr.nhanviensqlite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NhanVienSQLite">
        <activity
            android:name=".vitri.AddViTriActivity"
            android:exported="false" />
        <activity
            android:name=".vitri.ViTriActivity"
            android:exported="false" />
        <activity
            android:name=".nhanvientheovitri.AddNvVtActivity"
            android:exported="false" />
        <activity
            android:name=".nhanvientheovitri.NvVtActivity"
            android:exported="false" />
        <activity
            android:name=".nhanvien.AddNVActivity"
            android:exported="false" />
        <activity
            android:name=".nhanvien.NhanVienActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>